section {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
img.avatar {
  width: 50px;
  height: 45px;
}

section.old-tweets {
  width: 100%;
  border-style: solid;
  margin-top: 20px;
}

header.tweets {
  margin: 0.7em;
}

section.old-tweets:hover {
box-shadow: 10px 20px gray;
opacity: 1;
}

article {
  width: 100%;
  padding-left: 10px;
  height: 100%;
}

footer{
  font-size: initial;
  border-style: solid;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin: 2%;
}

input {
  font-family: 'Bungee', cursive;
  background-color: blue;
  color: white;
  padding-top: 0px;
  margin-top: 5px;
  width: 30%;
}
span.counter {
  font-family: 'Bungee', cursive;
  margin-left: 55%;
}

textarea {
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  margin: 0px;
  width: 450px;
  height: 75px;
  width: 100%;
  background-color: transparent;
}

textarea:focus {
  border: none;
  border-bottom: 2px solid;
  background: #e6e1d859;
  outline: none
}

a.handle{
  float: right;
  margin-right: 5px;
  display: none;
  opacity: 0.5;
}

.old-tweets:hover a.handle{
  display: block
  
}

section.created-tweets {
width: 90%;
padding-top: 0px;
}